
<!DOCTYPE HTML>
<html>
<head>
<title>Data</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="../../static/clara/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="../../static/clara/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="../../static/clara/js/jquery-2.1.1.min.js"></script>
<!--icons-css-->
<link href="../../static/clara/css/font-awesome.css" rel="stylesheet">
<!--Google Fonts-->
<link href='https://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
<!--static chart-->
<script src="../../static/clara/js/Chart.min.js"></script>
<!--//charts-->
</head>
<body>
<div class="page-container">
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
				<div class="header-main">
					<div class="header-left">
							<div class="logo-name">
									 <a href="index.html"> <h1>GasPricing</h1>
									<!--<img id="logo" src="" alt="Logo"/>-->
								  </a>
							</div>

							<div class="clearfix"> </div>
						 </div>
						 <div class="header-right">
                            <script src="../static/js/search.js"></script>
							<div class="search-box">

										<input onkeyup="searchInfo()" placeholder="Search..." type="search" id="input-info">

								</div>
							<div class="clearfix"> </div>
						</div>
				     <div class="clearfix"> </div>
				</div>
<!--heder end here-->
<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop();
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });

		});
		</script>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">
    <div class="chart-main-block">
       <div class="chart-first-line">
        <div class="col-md-12 chart-blo-1">
    	    <div class="line-chart">
    		<h3>Gas Price in Last Period</h3>
    		 <canvas id="line2" height="300" width="2000" style="width: 900px; height: 300px;"> </canvas>
                    <script>
                        var lineChartData = {
						labels :['{{ date3.0 }}','{{ date3.1 }}','{{ date3.2 }}','{{ date3.3 }}','{{ date3.4 }}','{{ date3.5 }}','{{ date3.6 }}','{{ date3.7 }}','{{ date3.8 }}','{{ date3.9 }}',
                 '{{ date3.10 }}','{{ date3.11 }}','{{ date3.12 }}','{{ date3.13 }}','{{ date3.14 }}','{{ date3.15 }}','{{ date3.16 }}','{{ date3.17 }}','{{ date3.18 }}','{{ date3.19 }}',
                '{{ date3.20 }}','{{ date3.21 }}','{{ date3.22 }}','{{ date3.23 }}','{{ date3.24 }}','{{ date3.25 }}','{{ date3.26 }}','{{ date3.27 }}','{{ date3.28 }}','{{ date3.29 }}',
                '{{ date3.30 }}','{{ date3.31 }}','{{ date3.32 }}','{{ date3.33 }}','{{ date3.34 }}','{{ date3.35 }}','{{ date3.36 }}','{{ date3.37 }}','{{ date3.38 }}','{{ date3.39 }}',
                '{{ date3.40 }}','{{ date3.41 }}','{{ date3.42 }}','{{ date3.43 }}','{{ date3.44 }}','{{ date3.45 }}','{{ date3.46 }}','{{ date3.47 }}','{{ date3.48 }}','{{ date3.49 }}'
            ],
						datasets : [
							{
								fillColor : "rgba(51, 122, 183, 0.71)",
								strokeColor : "#337AB7",
								pointColor : "#337AB7",
								pointStrokeColor : "#fff",
								data : {{ value3 }}
							}
						]

					};
                       new Chart(document.getElementById("line2").getContext("2d")).Line(lineChartData);

                    </script>
    	    </div>
    	  </div>
    	<div class="col-md-12 chart-blo-1">
    	    <div class="line-chart">
    		<h3>Gas Limit in Last Period</h3>
    		 <canvas id="line0" height="300" width="2000" style="width: 900px; height: 300px;"> </canvas>
                    <script>
                        var lineChartData = {
						labels :['{{ date1.0 }}','{{ date1.1 }}','{{ date1.2 }}','{{ date1.3 }}','{{ date1.4 }}','{{ date1.5 }}','{{ date1.6 }}','{{ date1.7 }}','{{ date1.8 }}','{{ date1.9 }}',
                       '{{ date1.10 }}','{{ date1.11 }}','{{ date1.12 }}','{{ date1.13 }}','{{ date1.14 }}','{{ date1.15 }}','{{ date1.16 }}','{{ date1.17 }}','{{ date1.18 }}','{{ date1.19 }}',
                      '{{ date1.20 }}','{{ date1.21 }}','{{ date1.22 }}','{{ date1.23 }}','{{ date1.24 }}','{{ date1.25 }}','{{ date1.26 }}','{{ date1.27 }}','{{ date1.28 }}','{{ date1.29 }}',
                      '{{ date1.30 }}','{{ date1.31 }}','{{ date1.32 }}','{{ date1.33 }}','{{ date1.34 }}','{{ date1.35 }}','{{ date1.36 }}','{{ date1.37 }}','{{ date1.38 }}','{{ date1.39 }}',
                      '{{ date1.40 }}','{{ date1.41 }}','{{ date1.42 }}','{{ date1.43 }}','{{ date1.44 }}','{{ date1.45 }}','{{ date1.46 }}','{{ date1.47 }}','{{ date1.48 }}','{{ date1.49 }}'
                  ],
						datasets : [
							{
								fillColor : "rgba(51, 122, 183, 0.71)",
								strokeColor : "#337AB7",
								pointColor : "#337AB7",
								pointStrokeColor : "#fff",
								data : {{ value1 }}
							}
						]

					};
                       new Chart(document.getElementById("line0").getContext("2d")).Line(lineChartData);

                    </script>
    	    </div>
    	  </div>
        <div class="col-md-12 chart-blo-1">
    	    <div class="line-chart">
    		<h3>Gas Used in Last Period</h3>
    		 <canvas id="line1" height="300" width="2000" style="width: 900px; height: 300px;"> </canvas>
                    <script>
                        var lineChartData = {
						labels :['{{ date2.0 }}','{{ date2.1 }}','{{ date2.2 }}','{{ date2.3 }}','{{ date2.4 }}','{{ date2.5 }}','{{ date2.6 }}','{{ date2.7 }}','{{ date2.8 }}','{{ date2.9 }}',
                 '{{ date2.10 }}','{{ date2.11 }}','{{ date2.12 }}','{{ date2.13 }}','{{ date2.14 }}','{{ date2.15 }}','{{ date2.16 }}','{{ date2.17 }}','{{ date2.18 }}','{{ date2.19 }}',
                '{{ date2.20 }}','{{ date2.21 }}','{{ date2.22 }}','{{ date2.23 }}','{{ date2.24 }}','{{ date2.25 }}','{{ date2.26 }}','{{ date2.27 }}','{{ date2.28 }}','{{ date2.29 }}',
                '{{ date2.30 }}','{{ date2.31 }}','{{ date2.32 }}','{{ date2.33 }}','{{ date2.34 }}','{{ date2.35 }}','{{ date2.36 }}','{{ date2.37 }}','{{ date2.38 }}','{{ date2.39 }}',
                '{{ date2.40 }}','{{ date2.41 }}','{{ date2.42 }}','{{ date2.43 }}','{{ date2.44 }}','{{ date2.45 }}','{{ date2.46 }}','{{ date2.47 }}','{{ date2.48 }}','{{ date2.49 }}'
            ],
						datasets : [
							{
								fillColor : "rgba(51, 122, 183, 0.71)",
								strokeColor : "#337AB7",
								pointColor : "#337AB7",
								pointStrokeColor : "#fff",
								data : {{ value2 }}
							}
						]

					};
                       new Chart(document.getElementById("line1").getContext("2d")).Line(lineChartData);

                    </script>
    	    </div>
    	  </div>
        <div class="col-md-12 chart-blo-1">
    	    <div class="line-chart">
    		<h3>Block Generate Time in Last Blocks</h3>
    		 <canvas id="line3" height="300" width="2000" style="width: 900px; height: 300px;"> </canvas>
                    <script>
                        var lineChartData = {
						labels :['{{ date4.0 }}','{{ date4.1 }}','{{ date4.2 }}','{{ date4.3 }}','{{ date4.4 }}','{{ date4.5 }}','{{ date4.6 }}','{{ date4.7 }}','{{ date4.8 }}','{{ date4.9 }}',
                 '{{ date4.10 }}','{{ date4.11 }}','{{ date4.12 }}','{{ date4.13 }}','{{ date4.14 }}','{{ date4.15 }}','{{ date4.16 }}','{{ date4.17 }}','{{ date4.18 }}','{{ date4.19 }}',
                '{{ date4.20 }}','{{ date4.21 }}','{{ date4.22 }}','{{ date4.23 }}','{{ date4.24 }}','{{ date4.25 }}','{{ date4.26 }}','{{ date4.27 }}','{{ date4.28 }}','{{ date4.29 }}',
                '{{ date4.30 }}','{{ date4.31 }}','{{ date4.32 }}','{{ date4.33 }}','{{ date4.34 }}','{{ date4.35 }}','{{ date4.36 }}','{{ date4.37 }}','{{ date4.38 }}','{{ date4.39 }}',
                '{{ date4.40 }}','{{ date4.41 }}','{{ date4.42 }}','{{ date4.43 }}','{{ date4.44 }}','{{ date4.45 }}','{{ date4.46 }}','{{ date4.47 }}','{{ date4.48 }}','{{ date4.49 }}'
            ],
						datasets : [
							{
								fillColor : "rgba(51, 122, 183, 0.71)",
								strokeColor : "#337AB7",
								pointColor : "#337AB7",
								pointStrokeColor : "#fff",
								data : {{ value4 }}
							}
						]

					};
                       new Chart(document.getElementById("line3").getContext("2d")).Line(lineChartData);

                    </script>
    	    </div>
    	  </div>
    	  <div class="clearfix"> </div>
    	</div>
    </div>
</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
	 <p>Copyright &copy; 2019 All rights reserved.</p>
</div>
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
    <div class="sidebar-menu" style="background: #336699;">
		  	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span>
			      <!--<img id="logo" src="" alt="Logo"/>-->
			  </a> </div>
		    <div class="menu">
		      <ul id="menu" >
			   <li id="menu-home" ><a href="/homedata"><i class="fa fa-home"></i><span>Home</span></a></li>
			   <li><a href="/pdataPage"><i class="fa fa-bar-chart"></i><span>Data</span></a></li>
		        <li><a href="#"><i class="fa fa-cogs"></i><span>Estimate</span><span class="fa fa-angle-right" style="float: right"></span></a>
		          <ul>
		            <li><a href="/pre">Forecast</a></li>
		            <li><a href="/eval">Model Evaluation</a></li>
		          </ul>
		        </li>
                  <li><a href="#"><i class="fa fa-envelope"></i><span>Contact</span><span class="fa fa-angle-right" style="float: right"></span></a>
		        	 <ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="/pcontact">Contact Us</a></li>
			            <li id="menu-academico-boletim" ><a href="/pabout">About Us</a></li>
		             </ul>
		        </li>
		      </ul>
		    </div>
	 </div>
	<div class="clearfix"> </div>
</div>
<!--slide bar menu end here-->
<script>
var toggle = true;

$(".sidebar-icon").click(function() {
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="../../static/clara/js/jquery.nicescroll.js"></script>
		<script src="../../static/clara/js/scripts.js"></script>
		<!--//scrolling js-->
<script src="../../static/clara/js/bootstrap.js"> </script>
<!-- mother grid end here-->
</body>
</html>
