
<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{# <meta http-equiv="refresh" content="20">#}
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="../static/new/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="../static/new/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="../static/new/js/jquery-2.1.1.min.js"></script>
<!--icons-css-->
<link href="../static/new/css/font-awesome.css" rel="stylesheet">
<!--Google Fonts-->
<link href='https://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
<!--static chart-->
<script src="../static/new/js/Chart.min.js"></script>
<!--//charts-->
    <style>
        .market-update-block.clr-block-1 {
    background: #68ae00;
    margin-right: 1.1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.market-update-block.clr-block-2 {
    background:#FC8213;
    margin-right: 1.1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.market-update-block.clr-block-3 {
    background:#337AB7;
     margin-right: 1.1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
        .market-update-block.clr-block-4 {
    background: #8B4513;
    margin-right: 1.1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
    </style>
</head>
<body>
<div class="page-container">
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
				<div class="header-main">
					<div class="header-left">
							<div class="logo-name">
									 <a href="/homedata"> <h1>GasPrediction</h1>
									<!--<img id="logo" src="" alt="Logo"/>-->
								  </a>
							</div>
							<!--search-box-->
								<!--//end-search-box-->
							<div class="clearfix"> </div>
						 </div>
						 <div class="header-right">
							<script src="../static/js/search.js"></script>
                             							<!--search-box-->
								<div class="search-box">
									<form>
										<input onkeyup="searchInfo()"type="text" placeholder="Search..." required="">
										<input type="submit" value="">
									</form>
								</div><!--//end-search-box-->
{#							<div class="search-box">#}
{##}
{#										<input onkeyup="searchInfo()" placeholder="Search..." type="search" id="input-info">#}
{##}
{#								</div>#}
							<!--notification menu end -->

							<div class="clearfix"> </div>
						</div>
				     <div class="clearfix"> </div>
				</div>
<!--heder end here-->
<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop();
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });

		});
		</script>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">
	<!--market updates updates-->
	 <div class="market-updates">
{#          <div class="col-md-6 ">#}
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-1">
					<div class="col-md-8 market-update-left">
						<h3>{{ height.0 }}</h3><br>
                        <h4>Last Block</h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-2">
				 <div class="col-md-8 market-update-left">
					<h3>{{ lowprice.0 }}</h3>
					<h4>Low Gas Price(gWei)</h4>
				  </div>
				  <div class="clearfix"> </div>
				</div>
			</div>
{#          </div>#}
{#      <div class="col-md-6">#}
			<div class="col-md-3 market-update-gd">
				<div class="market-update-block clr-block-3">
					<div class="col-md-8 market-update-left">
						<h3>{{ aveprice.0 }}</h3>
						<h4>Avg Gas Price(gWei)</h4>
					</div>
				  <div class="clearfix"> </div>
				</div>
			</div>
             <div class="col-md-3 market-update-gd">
                    <div class="market-update-block clr-block-4">
                        <div class="col-md-8 market-update-left">
                            <h3>{{ maxprice.0 }}</h3>
                            <h4>Max Gas Price(gWei)</h4>
                        </div>
                      <div class="clearfix"> </div>
                    </div>
                </div>
{#      </div>#}
		   <div class="clearfix"> </div>
		</div>
    <br>
<!--market updates end here-->
    <div class="chart-main-block">
       <div class="chart-first-line">
      <div class="col-md-6 chart-blo-1">
    	    <div class="line-chart">
    		<h3>Txns in Last Blocks</h3>
    		 <canvas id="line" height="600" width="820" style="width: 410px; height: 300px;"> </canvas>
                    <script>
                        var lineChartData = {
						labels : {{ height }},
						datasets : [
							{
								fillColor : "#68ae00",
								strokeColor : "#68ae00",
								pointColor : "#68ae00",
								pointStrokeColor : "#fff",
								data : {{ num }}
							}
						]

					};
                       new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);

                    </script>
    	    </div>
    	  </div>
   <div class="col-md-6 chart-blo-1">
    	    <div class="line-chart">
    		<h3>Low Gas Price in Last Blocks</h3>
    		 <canvas id="line0" height="600" width="820" style="width: 410px; height: 300px;"> </canvas>
                    <script>
                        var lineChartData = {
						labels : {{ height }},
						datasets : [
							{
								fillColor : "#FC8213",
								strokeColor : "#FC8213",
								pointColor : "#FC8213",
								pointStrokeColor : "#fff",
								data : {{ lowprice }}
							}
						]

					};
                       new Chart(document.getElementById("line0").getContext("2d")).Line(lineChartData);

                    </script>
    	    </div>
    	  </div>
    	  <div class="clearfix"> </div>
    	</div>
    	<div class="chart-second-line">
    	    <div class="col-md-6 chart-blo-1">
    	    <div class="line-chart">
    		<h3>Avg Gas Price in Last Blocks</h3>
    		 <canvas id="line1" height="600" width="820" style="width: 410px; height: 300px;"> </canvas>
                    <script>
                        var lineChartData = {
						labels : {{ height }},
						datasets : [
							{
								fillColor : "#337AB7",
								strokeColor : "#337AB7",
								pointColor : "#337AB7",
								pointStrokeColor : "#fff",
								data : {{ aveprice }}
							}
						]

					};
                       new Chart(document.getElementById("line1").getContext("2d")).Line(lineChartData);

                    </script>
    	    </div>
    	  </div>
          <div class="col-md-6 chart-blo-1">
    	    <div class="line-chart">
    		<h3>Max Gas Price in Last Blocks</h3>
    		 <canvas id="line2" height="600" width="820" style="width: 410px; height: 300px;"> </canvas>
                    <script>
                        var lineChartData = {
						labels : {{ height }},
						datasets : [
							{
								fillColor : "#8B4513",
								strokeColor : "#8B4513",
								pointColor : "#8B4513",
								pointStrokeColor : "#fff",
								data : {{ maxprice }}
							}
						]

					};
                       new Chart(document.getElementById("line2").getContext("2d")).Line(lineChartData);

                    </script>
    	    </div>
    	  </div>
    	<div class="clearfix"> </div>

    	</div>
    </div>
</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
	 <p>Copyright &copy; 2019 All rights reserved.</p>
</div>
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
    <div class="sidebar-menu" style="background: #336699;">
		  	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span>
			      <!--<img id="logo" src="" alt="Logo"/>-->
			  </a> </div>
		    <div class="menu">
		      <ul id="menu" >
			   <li id="menu-home" ><a href="/homedata"><i class="fa fa-home"></i><span>Home</span></a></li>
			   <li><a href="/pdataPage"><i class="fa fa-bar-chart"></i><span>Data</span></a></li>
		        <li><a href="#"><i class="fa fa-cogs"></i><span>Estimation</span><span class="fa fa-angle-right" style="float: right"></span></a>
		          <ul>
		            <li><a href="/pre">Forecast</a></li>
		            <li><a href="/eval">Model Evaluation</a></li>
		          </ul>
		        </li>
                  <li><a href="#"><i class="fa fa-envelope"></i><span>Contact</span><span class="fa fa-angle-right" style="float: right"></span></a>
		        	 <ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="/pcontact">Contact Us</a></li>
			            <li id="menu-academico-boletim" ><a href="/pabout">About Us</a></li>
		             </ul>
		        </li>
		      </ul>
		    </div>
	 </div>
	<div class="clearfix"> </div>
</div>
<!--slide bar menu end here-->
<script>
var toggle = true;

$(".sidebar-icon").click(function() {
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="../static/new/js/jquery.nicescroll.js"></script>
		<script src="../static/new/js/scripts.js"></script>
		<!--//scrolling js-->
<script src="../static/new/js/bootstrap.js"> </script>
<!-- mother grid end here-->
</body>
</html>
