
<!DOCTYPE HTML>
<html>
<head>
<title>Data Explorer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="../static/new/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="../static/new/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="../static/new/js/jquery-2.1.1.min.js"></script>
<!--icons-css-->
<link href="../static/new/css/font-awesome.css" rel="stylesheet">
<!--Google Fonts-->
<link href='https://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
<!--static chart-->
<script src="../static/new/js/Chart.min.js"></script>
<!--//charts-->
</head>
<body>
<div class="page-container">
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
				<div class="header-main">
					<div class="header-left">
							<div class="logo-name">
									 <a href="/homedata"> <h1>GasPrediction</h1>
									<!--<img id="logo" src="" alt="Logo"/>-->
								  </a>
							</div>
							<!--search-box-->
								<!--//end-search-box-->
							<div class="clearfix"> </div>
						 </div>
						 <div class="header-right">
						    <script src="../static/js/search.js"></script>
                             <div class="search-box">
									<form class="input">
										<input onkeyup="searchInfo()"type="text" placeholder="Search..." required="" id="input-info">
										<input type="submit" value="">
									</form>
								</div>

							<div class="clearfix"> </div>
						</div>
				     <div class="clearfix"> </div>
				</div>
<!--heder end here-->
<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop();
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });

		});
		</script>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">
	<div class="cols-grids panel-widget">
						<h2 id="page-title">Data</h2>
					</div>
    <div class="chart-main-block">
       <div class="row mb40">
    	<div class="col-md-12 ">
    	   <div class="dygno">
    		     <!-- animated-column-chart -->
                        <div id="blockInfoPanel">
						<div class="panel panel-widget"id="blockInfo"style="line-height:30px;">

                        </div></div>
                        <div id="txnInfoPanel">
                        <div class="panel panel-widget"id="txnInfo"style="line-height:30px;">

					    </div></div>
					<!-- //animated-column-chart -->
			</div>
    	 </div>

    	  <div class="clearfix"> </div>
    	</div>

    </div>
</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
	 <p>Copyright &copy; 2019 All rights reserved.</p>
</div>
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
    <div class="sidebar-menu" style="background: #336699;">
		  	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span>
			      <!--<img id="logo" src="" alt="Logo"/>-->
			  </a> </div>
		    <div class="menu">
		      <ul id="menu" >
			   <li id="menu-home" ><a href="/homedata"><i class="fa fa-home"></i><span>Home</span></a></li>
			   <li><a href="/pdataPage"><i class="fa fa-bar-chart"></i><span>Data</span></a></li>
		        <li><a href="#"><i class="fa fa-cogs"></i><span>Estimation</span><span class="fa fa-angle-right" style="float: right"></span></a>
		          <ul>
		            <li><a href="/pre">Forecast</a></li>
		            <li><a href="/eval">Model Evaluation</a></li>
		          </ul>
		        </li>
                  <li><a href="#"><i class="fa fa-envelope"></i><span>Contact</span><span class="fa fa-angle-right" style="float: right"></span></a>
		        	 <ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="/pcontact">Contact Us</a></li>
			            <li id="menu-academico-boletim" ><a href="/pabout">About Us</a></li>
		             </ul>
		        </li>
		      </ul>
		    </div>
	 </div>
	<div class="clearfix"> </div>
</div>
<!--slide bar menu end here-->
<script>
var toggle = true;

$(".sidebar-icon").click(function() {
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="../static/new/js/jquery.nicescroll.js"></script>
		<script src="../static/new/js/scripts.js"></script>
		<!--//scrolling js-->
<script src="../static/new/js/bootstrap.js"> </script>
<!-- mother grid end here-->
<script>
		$(document).ready(function () {
                var type="{{ type }}"
                if(type=="block"){
                    $("#txnInfoPanel").html("")
                    $("#page-title").append("  -  Block "+"{{ info.1 }} Detail");
                    var text="Height:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"+"{{ info.1 }}"+"<br>";
                    text+="Hash:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"+"{{ info.0 }}"+"<br>";
                    text+="Difficulty:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"+"{{ info.2 }}"+"<br>";
                    text+="Txns:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"+"{{ info.4 }}"+"<br>";
                    text+="Gas Limit:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"+"{{ info.7 }}"+"<br>";
                    text+="Gas Used:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"+"{{ info.8 }}"+"<br>";
                    $("#blockInfo").html(text)
                }
                else{
                    $("#blockInfoPanel").html("")
                    $("#page-title").append("  -  Transaction Detail");
                    var text="Hash:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"+"{{ info.0 }}"+"<br>";
                    text+="Block Height:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"+"{{ info.1 }}"+"<br>";
                    text+="From:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"+"{{ info.2 }}"+"<br>";
                    text+="To:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"+"{{ info.3 }}"+"<br>";
                    text+="Gas Limit:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"+"{{ info.4 }}"+"<br>";
                    text+="Gas Price:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp"+"{{ info.5 }}"+"<br>";
                    $("#txnInfo").html(text)
                }

        })
		</script>
</body>
</html>
