<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>History Evaluation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link rel="shortcut icon" href="assets/ico/favicon.html">
    <link href="../static/provence/assets/css/bootstrap.css" rel="stylesheet">
    <link href="../static/provence/assets/css/theme.css" rel="stylesheet">
    <link href="../static/provence/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/provence/assets/css/alertify.css" rel="stylesheet">
    <link href="http://fonts.useso.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="Favicon Icon" href="favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<script src="../static/provence/assets/js/Chart.min.js"></script>
<style>
.copyrights {
    padding: 1.5em 1em;
    text-align: center;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
}
.copyrights p {
    font-size: 1em;
    color: #000;
}
</style>
  </head>
  <body>
    <div id="wrap">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="logo">
            <span style="color:white;font-size:20pt">Gas Pricing</span>
          </div>
		  <script src="../static/js/search.js"></script>
		  <div class="search-box" style="float:right">
			<input onkeyup="searchInfo()" placeholder="Search..." type="search" id="input-info">
			</div>
           <a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>




        </div>
      </div>
    </div>

    <div class="container-fluid">

      <!-- Side menu -->
      <div class="sidebar-nav nav-collapse collapse">
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle active b_F79999" href="/phome"><i class="icon-dashboard"></i> <span>Home</span></a>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_C1F8A9" href="/pdataPage"><i class="icon-bar-chart"></i> <span>Data</span></a>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_C3F7A7 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse1"><i class="icon-magic"></i> <span>Estimate</span></a>
            </div>
            <div id="collapse1" class="accordion-body collapse">
              <div class="accordion-inner">
                <a class="accordion-toggle" href="/pre"><i class="icon-star"></i> Forecast</a>
                <a class="accordion-toggle" href="/eval"><i class="icon-list-alt"></i> Model Evaluate</a>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle b_9FDDF6 collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"><i class="icon-reorder"></i> <span>Contact</span></a>
            </div>
            <div id="collapse2" class="accordion-body collapse">
              <div class="accordion-inner">
                <a class="accordion-toggle" href="/pcontact"><i class="icon-rss"></i> Contact Us</a>
                <a class="accordion-toggle" href="/pabout"><i class="icon-calendar"></i> About Us</a>
              </div>
            </div>
          </div>
          </div>
        </div>

      <!-- /Side menu -->

      <!-- Main window -->
      <div class="main_container" id="dashboard_page">
	  <h2>Predict Gasprice -- Last update: Block {{ height }}</h2>
{#        <div class="row-fluid">#}
{#          <div class="widget span12" style="overflow:visible;">#}
{#			 <a class="btn btn-box bubble bubble-danger span3 tips" data-title="bubble-danger" href="#" data-bubble="5k"><i class="icon-user"></i><span>Users</span></a>#}
{#                  <a class="btn btn-box span3" href="#"><i class="icon-plus-sign"></i><span>Notifications</span></a>#}
{#                  <a class="btn btn-box span3" href="#"><i class="icon-calendar"></i><span>Calendar</span></a>#}
{#                  <a class="btn btn-box bubble bubble-info span3 tips" data-title="bubble-info" href="#" data-bubble="2"><i class="icon-signal"></i><span>Analytics</span></a>#}
{#          </div>#}
{#        </div>#}


        <!-- CHARTS  -->
        <div class="row-fluid">
          <div class="widget widget-padding span12" style="height: 120px">
            <div class="widget-header"><i class="icon-list-alt"></i><h5>Forecast</h5></div>
            <div class="widget-body" style="height: 250px;">
              <div class="widget-forms clearfix">
                <form class="form-inline"  action="/pre/" method="post">
                  <input type="text" class="span4" placeholder="Confirm time" name="confirmtime" >
                  <input type="text" class="span4" placeholder="Gas Limit" name="gaslimit">
                  <button type="submit" class="btn btn-success">Forecast Now</button>
                </form>
              </div>
            </div>
        </div>
        </div><!-- /row-fluid -->




        <div class="row-fluid">
          <div class="widget widget-padding span12">
            <div class="widget-header">
              <i class="icon-group"></i>
              <h5>  Recommend GasPrice</h5>
              <div class="widget-buttons">
				<a href="javascript:void(0)" class="collapse" data-collapsed="false"><i data-title="Collapse" class="icon-chevron-up"></i></a>
              </div>
            </div>
            <div class="widget-body" style="overflow-y: auto; height: 200px">
              <table id="users" class="table table-striped table-bordered dataTable">
                <thead>
                                    <tr>
                                      <th>SafeLow</th>
                                    <th>Standard</th>
                                    <th>Fast</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr >
                                    <td>{{ price }}</td>
                                    <td>{{ std }}</td>
                                    <td>{{ maxprice }}</td>
                                </tr>
                          </tbody>
                      </table>
					  <div>
                  Note: Estimates not valid when multiple transactions are batched from the same address or for transactions sent to addresses with many (e.g. > 100) pending transactions
                            </div>
            </div> <!-- /widget-body -->
          </div> <!-- /widget -->
        </div> <!-- /row-fluid -->
<div class="copyrights">
	 <p>Copyright &copy; 2019 All rights reserved.</p>
</div>
      </div>
      <!-- /Main window -->

    </div><!--/.fluid-container-->
    </div><!-- wrap ends-->


    <!-- example modal -->
    <div id="example_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Support Ticket</h3>
      </div>
      <div class="modal-body">
        <p>Here you can view and manage this support ticket.</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>

    <!-- example modal -->
    <div id="example_modal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Example Modal</h3>
      </div>
      <div class="modal-body">
        <p>Here you can write more information about the object you clicked</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>



    <!-- task_modal modal -->
    <div id="task_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Task info example</h3>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <img src="assets/img/avatars/11.jpg" class="img-circle" style="float: left; width: 65px; margin-right: 20px;">
           <h3 style="margin:0">John</h3>
           <p class="muted">Marketing</p>
        </div>
        <hr>
        <h5>Task</h5>
        <p>Create a marketing plan for the new campaign</p>
        <h5>status&nbsp;&nbsp;<small>60%</small></h5>
        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>



    <script type="text/javascript" src="../static/provence/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/provence/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/provence/assets/js/raphael-min.js"></script>
    <script type="text/javascript" src="../static/provence/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src='../static/provence/assets/js/sparkline.js'></script>
    <script type="text/javascript" src='../static/provence/assets/js/morris.min.js'></script>
    <script type="text/javascript" src="../static/provence/assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../static/provence/assets/js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="../static/provence/assets/js/jquery.imagesloaded.min.js"></script>
    <script type="text/javascript" src="../static/provence/assets/js/jquery.facybox.js"></script>
    <script type="text/javascript" src="../static/provence/assets/js/jquery.alertify.min.js"></script>
    <script type="text/javascript" src="../static/provence/assets/js/jquery.knob.js"></script>
    <script type='text/javascript' src='../static/provence/assets/js/fullcalendar.min.js'></script>
    <script type='text/javascript' src='../static/provence/assets/js/jquery.gritter.min.js'></script>
    <script type="text/javascript" src="../static/provence/assets/js/realm.js"></script>
    <script type="text/javascript" src="../static/provence/assets/js/jquery.slimscroll.min.js"></script>
  </body>
</html>
