<!DOCTYPE HTML>
<html>
<head>
<title>Forecast</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="../../static/clara/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="../../static/clara/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="../../static/clara/js/jquery-2.1.1.min.js"></script>
<!--icons-css-->
<link href="../../static/clara/css/font-awesome.css" rel="stylesheet">
<!--Google Fonts-->
<link href='https://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
<!--//skycons-icons-->
</head>
<body>	
<div class="page-container">	
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
				<div class="header-main">
					<div class="header-left">
							<div class="logo-name">
									 <a href="index.html"> <h1>GasScan</h1>
									<!--<img id="logo" src="" alt="Logo"/>-->
								  </a>
							</div>
							<!--search-box-->
								<div class="search-box">
									<form>
										<input type="text" placeholder="Search..." required="">	
										<input type="submit" value="">					
									</form>
								</div><!--//end-search-box-->
							<div class="clearfix"> </div>
						 </div>

				     <div class="clearfix"> </div>	
				</div>
	</div>
<!--heder end here-->
<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });
			 
		});
		</script>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">
	<div class="cols-grids panel-widget">
						<h2>Confirmtime Forecast-- Last update: Block {{ height }}</h2>
					</div>
    <div class="chart-main-block">
       <div class="row mb40">
    	<div class="col-md-12 ">
    	   <div class="dygno">
    		     <h2>Input</h2>
				    <form class="com-mail" action="/forecast/" method="post">
                                        <div class="form-group">
                                            <label for="exampleInputName2">Please choose prediction model:</label>
                                            <select name="type">
                                                <option value="7">LSTM model</option>
                                                <option value="1">Xgboost model</option>
                                                <option value="2">Random forest model</option>
                                                <option value="3">Extremely random forest model</option>
                                                <option value="4">Gradient boosting regression model</option>
                                                <option value="5">Linear regression model</option>
                                                <option value="6">Bagging Regressor model</option>

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">Gas Price</label>
                                            <input type="text" class="form-control"  name="gasprice" placeholder="Gas Price:" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">Gas Limit</label>
                                            <input type="text" class="form-control"  name="gaslimit" placeholder="Estimate gas limit" required>
                                        </div> <button type="submit" class="btn btn-default">Forecast Now</button>
                                    </form>
                                   {% if flag == 1 %}
               {%  if type == "1"  %}<span style="color: red;"> Selected model:Xgboost model</span> {% endif %}
               {%  if type == "2"  %}<span style="color: red;"> Selected model:Random forest model</span> {% endif %}
               {%  if type == "3"  %}<span style="color: red;"> Selected model:Extremely random forest model </span>{% endif %}
               {%  if type == "4"  %}<span style="color: red;"> Selected model:Gradient boosting regression model</span>{% endif %}
               {%  if type == "5"  %}<span style="color: red;"> Selected model:Linear regression model</span> {% endif %}
               {%  if type == "6"  %}<span style="color: red;"> Selected model:Bagging Regressor model</span> {% endif %}
               {%  if type == "7"  %}<span style="color: red;"> Selected model:LSTM model</span> {% endif %}
               <span style="color: red;"> Gas Price:{{ gasprice }}gwei </span>
               <span style="color: red;"> Gas Limit:{{ gaslimit }}</span>
           {% endif %}
			</div>
    	 </div>

    	  <div class="clearfix"> </div>
    	</div>
    	<div class="row mb40">
    	<div class="col-md-12 ">
    	     <div class="work-progres">
                            <div class="chit-chat-heading">
                                  Recommend Confirmtime &nbsp;{%  if type == "1"  %}<span style="color: red;">Xgboost model-Confirmtime {{ confirmtime }} s</span> {% endif %}
                             {%  if type == "2"  %}<span style="color: red;">Random forest model-Confirmtime {{ confirmtime  }} s</span> {% endif %}
                              {%  if type == "3"  %}<span style="color: red;">Extremely random forest model-Confirmtime {{ confirmtime  }} s</span> {% endif %}
                            {%  if type == "4"  %}<span style="color: red;">Gradient boosting regression model-Confirmtime {{ confirmtime }} s</span> {% endif %}
                            {%  if type == "5"  %}<span style="color: red;">Linear regression model-Confirmtime {{ confirmtime  }} s</span> {% endif %}
                            {%  if type == "6"  %}<span style="color: red;">Bagging Regressor model-Confirmtime {{ confirmtime  }} s</span> {% endif %}
                            {%  if type == "7"  %}<span style="color: red;">LSTM model-Confirmtime {{ confirmtime  }} s</span> {% endif %}
                            </div>
             </div>
    	  </div>
    	<div class="clearfix"> </div>
    	</div>
    </div>
</div>

<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
	 <p>Copyright &copy; 2019 LEE</p>
</div>	
<!--COPY rights end here-->
</div>

<!--slider menu-->
    <div class="sidebar-menu">
		  	<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span id="logo" ></span> 
			      <!--<img id="logo" src="" alt="Logo"/>--> 
			  </a> </div>		  
		    <div class="menu">
		      <ul id="menu" >
		        <li id="menu-home" ><a href="/home"><i class="fa fa-tachometer"></i><span>Home</span></a></li>
                <li><a href="/dataPage"><i class="fa fa-bar-chart"></i><span>Data</span></a></li>
		        <li><a href="#"><i class="fa fa-cogs"></i><span>Estimate</span><span class="fa fa-angle-right" style="float: right"></span></a>
		          <ul>
		            <li><a href="/forecast">Forecast</a></li>
		            <li><a href="/backtest">Model Evaluate</a></li>
		          </ul>
		        </li>
		        <li><a href="#"><i class="fa fa-envelope"></i><span>Contact</span><span class="fa fa-angle-right" style="float: right"></span></a>
		        	 <ul id="menu-academico-sub" >
			            <li id="menu-academico-avaliacoes" ><a href="/contact">Contact Us</a></li>
			            <li id="menu-academico-boletim" ><a href="/about">About Us</a></li>
		             </ul>
		        </li>
		      </ul>
		    </div>
	 </div>
	<div class="clearfix"> </div>
</div>
<!--slide bar menu end here-->
<script>
var toggle = true;
            
$(".sidebar-icon").click(function() {                
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }               
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="../../static/clara/js/jquery.nicescroll.js"></script>
		<script src="../../static/clara/js/scripts.js"></script>
		<!--//scrolling js-->
<script src="../../static/clara/js/bootstrap.js"> </script>
<!-- mother grid end here-->
</body>
</html>


                      
						
